In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/sameerkhan/Documents/DATA CLEANING/Automobile price data _Raw_(before).csv')

In [72]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [70]:
'''
1. Check for errors in datasets
2. Replace them with a suitable approach and explain why you opted for that method or technique. 
3. Final report on the dataset before and after cleaning.
4. The final dataset needs to be saved to .csv format. 
'''
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [76]:
import re

In [75]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [4]:
df.loc[df['drive-wheels']=='4wd','drive-wheels'] = 'fwd'

In [5]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,fwd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [6]:
df['num-of-doors'].fillna()

ValueError: Cannot specify both 'value' and 'method'.

In [13]:
df['stroke'] = pd.to_numeric(df['stroke'], errors = 'coerce')
df[]

In [56]:
df[['stroke']].mode().iloc[0]

stroke    3.4
Name: 0, dtype: float64

In [58]:
df['stroke'].replace(to_replace=np.nan,value=df['stroke'].mode()[0],inplace=True)

In [38]:
type(df['stroke'].value_counts())

pandas.core.series.Series

In [59]:
df[['stroke']].isnull().sum()

stroke    0
dtype: int64

In [41]:
df.loc[df['fuel-type']=='gas','fuel-type'] = 0
df.loc[df['fuel-type']=='diesel','fuel-type'] = 1

In [115]:
df.loc[df['num-of-doors']=='two','num-of-doors'] = 2
df.loc[df['num-of-doors']=='four','num-of-doors'] = 4

In [116]:
df['num-of-doors'].head(52)

0       2
1       2
2       2
3       4
4       4
5       2
6       4
7       4
8       4
9       2
10      2
11      4
12      2
13      4
14      4
15      4
16      2
17      4
18      2
19      2
20      4
21      2
22      2
23      2
24      4
25      4
26      4
27    NaN
28      4
29      2
30      2
31      2
32      2
33      2
34      2
35      4
36      4
37      2
38      2
39      4
40      4
41      4
42      2
43      4
44      2
45      4
46      2
47      4
48      4
49      2
50      2
51      2
Name: num-of-doors, dtype: object

In [ ]:
df['stroke'].replace(to_replace='?',value=df['stroke'].mean(),inplace=True)

In [126]:
df.to_csv('/Users/sameerkhan/Documents/DATA CLEANING/Automobile price data _Raw_modetest.csv')

In [130]:
#if rear wheel drive then its best car
df.loc[df['drive-wheels']=='rwd',['newcol','newcol2']]=['best','thebest']

In [131]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,newcol,newcol2
0,3.0,?,alfa-romero,0,std,2,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,13495,best,thebest
1,3.0,?,alfa-romero,0,std,2,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,16500,best,thebest
2,1.0,?,alfa-romero,0,std,2,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000,19,26,16500,best,thebest
3,2.0,164,audi,0,std,4,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500,24,30,13950,NaN,NaN
4,2.0,164,audi,0,std,4,sedan,fwd,front,99.4,...,3.19,3.40,8.0,115,5500,18,22,17450,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.0,95,volvo,0,std,4,sedan,rwd,front,109.1,...,3.78,3.15,9.5,114,5400,23,28,16845,best,thebest
201,-1.0,95,volvo,0,turbo,4,sedan,rwd,front,109.1,...,3.78,3.15,8.7,160,5300,19,25,19045,best,thebest
202,-1.0,95,volvo,0,std,4,sedan,rwd,front,109.1,...,3.58,2.87,8.8,134,5500,18,23,21485,best,thebest
203,-1.0,95,volvo,1,turbo,4,sedan,rwd,front,109.1,...,3.01,3.40,23.0,106,4800,26,27,22470,best,thebest
204,-1.0,95,volvo,0,turbo,4,sedan,rwd,front,109.1,...,3.78,3.15,9.5,114,5400,19,25,22625,best,thebest

In [140]:
 df.groupby(['make']).mean().sort_values('engine-size',ascending=False)

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
make,,,,,,,,,,
jaguar,0.000000,109.333333,196.966667,69.933333,51.133333,4027.333333,280.666667,9.233333,14.333333,18.333333
mercedes-benz,0.000000,110.925000,195.262500,71.062500,55.725000,3696.250000,226.500000,14.825000,18.500000,21.000000
porsche,2.600000,92.280000,170.260000,67.120000,51.100000,2891.200000,187.200000,9.600000,17.400000,26.000000
bmw,0.375000,103.162500,184.500000,66.475000,54.825000,2929.375000,166.875000,8.575000,19.375000,25.375000
volvo,-1.272727,106.481818,188.800000,67.963636,56.236364,3037.909091,142.272727,10.227273,21.181818,25.818182
mercury,1.000000,102.700000,178.400000,68.000000,54.800000,2910.000000,140.000000,8.000000,19.000000,24.000000
alfa-romero,2.333333,90.566667,169.600000,64.566667,50.000000,2639.666667,137.333333,9.000000,20.333333,26.666667
peugot,0.000000,110.200000,191.136364,68.390909,57.181818,3221.000000,135.818182,14.000000,22.454545,26.636364
renault,1.000000,96.100000,179.150000,66.550000,52.850000,2519.500000,132.000000,8.700000,23.000000,31.000000
audi,1.285714,102.271429,183.828571,68.714286,54.428571,2800.714286,130.714286,8.400000,18.857143,24.142857
nissan,1.000000,95.722222,170.988889,65.088889,53.633333,2400.388889,127.888889,9.794444,27.000000,32.944444
saab,2.500000,99.100000,186.600000,66.500000,56.100000,2745.500000,121.000000,9.201667,20.333333,27.333333
toyota,0.562500,98.103125,171.934375,65.090625,53.721875,2441.093750,118.812500,10.340625,27.500000,32.906250
mitsubishi,1.846154,95.353846,168.030769,65.253846,50.692308,2381.923077,118.307692,8.061538,24.923077,31.153846
volkswagen,1.666667,97.608333,172.533333,65.616667,55.183333,2343.166667,107.250000,13.625000,28.583333,34.916667
subaru,0.500000,96.175000,168.858333,64.950000,53.750000,2316.250000,107.083333,8.816667,26.333333,30.750000
plymouth,1.000000,95.385714,164.900000,64.271429,51.971429,2220.857143,106.285714,8.671429,28.142857,34.142857
mazda,1.117647,97.017647,170.805882,65.588235,53.358824,2297.823529,103.000000,10.488235,25.705882,31.941176
dodge,1.000000,95.011111,160.988889,64.166667,51.644444,2151.333333,102.666667,8.634444,28.000000,34.111111
isuzu,0.750000,94.825000,163.775000,63.550000,52.225000,2213.500000,102.500000,9.225000,31.000000,36.000000
honda,0.615385,94.330769,160.769231,64.384615,53.238462,2096.769231,99.307692,9.215385,30.384615,35.461538
chevrolet,1.000000,92.466667,151.933333,62.500000,52.400000,1757.000000,80.333333,9.566667,41.000000,46.333333

In [143]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,newcol,newcol2,count
0,3.0,?,alfa-romero,0,std,2,convertible,rwd,front,88.6,...,2.68,9.0,111,5000,21,27,13495,best,thebest,1
1,3.0,?,alfa-romero,0,std,2,convertible,rwd,front,88.6,...,2.68,9.0,111,5000,21,27,16500,best,thebest,1
2,1.0,?,alfa-romero,0,std,2,hatchback,rwd,front,94.5,...,3.47,9.0,154,5000,19,26,16500,best,thebest,1
3,2.0,164,audi,0,std,4,sedan,fwd,front,99.8,...,3.40,10.0,102,5500,24,30,13950,NaN,NaN,1
4,2.0,164,audi,0,std,4,sedan,fwd,front,99.4,...,3.40,8.0,115,5500,18,22,17450,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.0,95,volvo,0,std,4,sedan,rwd,front,109.1,...,3.15,9.5,114,5400,23,28,16845,best,thebest,1
201,-1.0,95,volvo,0,turbo,4,sedan,rwd,front,109.1,...,3.15,8.7,160,5300,19,25,19045,best,thebest,1
202,-1.0,95,volvo,0,std,4,sedan,rwd,front,109.1,...,2.87,8.8,134,5500,18,23,21485,best,thebest,1
203,-1.0,95,volvo,1,turbo,4,sedan,rwd,front,109.1,...,3.40,23.0,106,4800,26,27,22470,best,thebest,1
204,-1.0,95,volvo,0,turbo,4,sedan,rwd,front,109.1,...,3.15,9.5,114,5400,19,25,22625,best,thebest,1

In [144]:
#nan_values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    float64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
 26  newcol             76 non-null     object
 27  newcol2            76 non-null     object
 28  count              205 non-null    int64
dtypes: float64(6), int64(5), object(18)
memory usage: 46.6+ KB

In [150]:
df.shape

(205, 29)

In [152]:
df['num-of-doors'] = df['num-of-doors'].fillna()

In [180]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,newcol,newcol2,count
0,3.0,?,alfa-romero,0,std,2.0,convertible,rwd,front,88.6,...,2.68,9.0,111,5000,21,27,13495,best,thebest,1
1,3.0,?,alfa-romero,0,std,2.0,convertible,rwd,front,88.6,...,2.68,9.0,111,5000,21,27,16500,best,thebest,1
2,1.0,?,alfa-romero,0,std,2.0,hatchback,rwd,front,94.5,...,3.47,9.0,154,5000,19,26,16500,best,thebest,1
3,2.0,164,audi,0,std,4.0,sedan,fwd,front,99.8,...,3.40,10.0,102,5500,24,30,13950,1,NaN,1
4,2.0,164,audi,0,std,4.0,sedan,fwd,front,99.4,...,3.40,8.0,115,5500,18,22,17450,1,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1.0,95,volvo,0,std,4.0,sedan,rwd,front,109.1,...,3.15,9.5,114,5400,23,28,16845,best,thebest,1
201,-1.0,95,volvo,0,turbo,4.0,sedan,rwd,front,109.1,...,3.15,8.7,160,5300,19,25,19045,best,thebest,1
202,-1.0,95,volvo,0,std,4.0,sedan,rwd,front,109.1,...,2.87,8.8,134,5500,18,23,21485,best,thebest,1
203,-1.0,95,volvo,1,turbo,4.0,sedan,rwd,front,109.1,...,3.40,23.0,106,4800,26,27,22470,best,thebest,1
204,-1.0,95,volvo,0,turbo,4.0,sedan,rwd,front,109.1,...,3.15,9.5,114,5400,19,25,22625,best,thebest,1

In [166]:
#check where is null values

df[df['stroke'].isnull()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,newcol,newcol2,count
55,3.0,150,mazda,0,std,2.0,hatchback,rwd,front,95.3,...,NaN,9.4,101,6000,17,23,10945,best,thebest,1
56,3.0,150,mazda,0,std,2.0,hatchback,rwd,front,95.3,...,NaN,9.4,101,6000,17,23,11845,best,thebest,1
57,3.0,150,mazda,0,std,2.0,hatchback,rwd,front,95.3,...,NaN,9.4,101,6000,17,23,13645,best,thebest,1
58,3.0,150,mazda,0,std,2.0,hatchback,rwd,front,95.3,...,NaN,9.4,135,6000,16,23,15645,best,thebest,1

In [164]:
df.dropna()

array([ 2.,  4., nan])

In [195]:
df['stroke'].fillna(df['stroke'].mode(),inplace=True)

In [60]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [176]:
df['newcol'].mode()

0    1
dtype: object

In [194]:
df.to_csv('/Users/sameerkhan/Documents/DATA CLEANING/stroke.csv')

In [198]:
df['bore'].fillna(df['bore'].mode())

0      3.47
1      3.47
2      2.68
3      3.19
4      3.19
       ...
200    3.78
201    3.78
202    3.58
203    3.01
204    3.78
Name: bore, Length: 205, dtype: object

In [199]:
df.to_csv('/Users/sameerkhan/Documents/DATA CLEANING/bore1.csv')