In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/Users/sameerkhan/Documents/DATA CLEANING/Lending Data.xlsx')

In [3]:
df

,Name of Lending Institution,HQ State,Rank,TA Ratio1,TBL Ratio1,"Amount ($1,000)",Number,Lender Asset Size,"Amount ($1,000).1",Number .1,Unnamed: 10,"Amount ($1,000).2",Number .2,CC Amount/TA1
0,NaN,NaN,-1,-2,-3,-4,-5,-6,-7.0,-8.0,NaN,-9.0,-10.0,-11
1,American Express Co.,NY,1,0.23829,0.999544,16350038,3603226,>$50B,16318089.0,3603088.0,NaN,31949.0,138.0,0.28
2,First Citizens Banchares,NC,2,0.187393,0.49083,3914507,117702,$10B-$50B,378394.0,105081.0,NaN,3536113.0,12621.0,.
3,Wintrust Financial Corp.,IL,3,0.168999,0.383561,2842793,136801,$10B-$50B,800526.0,126455.0,NaN,2042267.0,10346.0,0
4,Zions Bancorp,UT,4,0.117973,0.260577,6231770,52612,>$50B,526206.0,32973.0,NaN,5705564.0,19639.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Charles Schwab Bk,NV,NR,-,-,-,-,>$10B,0.0,0.0,NaN,0.0,0.0,.
93,Third FS&LA,OH,NR,-,-,-,-,>$10B,0.0,0.0,NaN,0.0,0.0,.
94,"*The bank was formerly known as GE Money Bank,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,1 TA = total domestic assets held by the lende...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,"Source: U.S. Small Business Administration, Of...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe

<bound method NDFrame.describe of                           Name of Lending Institution HQ State Rank TA Ratio1  \
0                                                 NaN      NaN   -1        -2
1                               American Express Co.       NY     1   0.23829
2                            First Citizens Banchares      NC     2  0.187393
3                            Wintrust Financial Corp.      IL     3  0.168999
4                                       Zions Bancorp      UT     4  0.117973
..                                                ...      ...  ...       ...
92                     Charles Schwab Bk                    NV   NR         -
93                     Third FS&LA                          OH   NR         -
94  *The bank was formerly known as GE Money Bank,...      NaN  NaN       NaN
95  1 TA = total domestic assets held by the lende...      NaN  NaN       NaN
96  Source: U.S. Small Business Administration, Of...      NaN  NaN       NaN

   TBL Ratio1 Amount ($1,000)  Number      Lender Asset Size  \
0          -3              -4       -5                    -6
1    0.999544        16350038  3603226  >$50B
2     0.49083         3914507   117702  $10B-$50B
3    0.383561         2842793   136801  $10B-$50B
4    0.260577         6231770    52612  >$50B
..        ...             ...      ...                   ...
92          -               -        -  >$10B
93          -               -        -  >$10B
94        NaN             NaN      NaN                   NaN
95        NaN             NaN      NaN                   NaN
96        NaN             NaN      NaN                   NaN

    Amount ($1,000).1  Number .1  Unnamed: 10  Amount ($1,000).2  Number .2  \
0                -7.0       -8.0          NaN               -9.0      -10.0
1          16318089.0  3603088.0          NaN            31949.0      138.0
2            378394.0   105081.0          NaN          3536113.0    12621.0
3            800526.0   126455.0          NaN          2042267.0    10346.0
4            526206.0    32973.0          NaN          5705564.0    19639.0
..                ...        ...          ...                ...        ...
92                0.0        0.0          NaN                0.0        0.0
93                0.0        0.0          NaN                0.0        0.0
94                NaN        NaN          NaN                NaN        NaN
95                NaN        NaN          NaN                NaN        NaN
96                NaN        NaN          NaN                NaN        NaN

   CC Amount/TA1
0            -11
1           0.28
2            .
3              0
4              0
..           ...
92           .
93           .
94           NaN
95           NaN
96           NaN

[97 rows x 14 columns]>

In [5]:
df1 = df.drop(0)

In [25]:
df1

,Name of Lending Institution,HQ State,Rank,TA Ratio1,TBL Ratio1,"Amount ($1,000)",Number,Lender Asset Size,"Amount ($1,000).1",Number .1,Unnamed: 10,"Amount ($1,000).2",Number .2,CC Amount/TA1
1,American Express Co.,NY,1,0.23829,0.999544,16350038,3603226,>$50B,16318089.0,3603088.0,NaN,31949.0,138.0,0.28
2,First Citizens Banchares,NC,2,0.187393,0.49083,3914507,117702,$10B-$50B,378394.0,105081.0,NaN,3536113.0,12621.0,.
3,Wintrust Financial Corp.,IL,3,0.168999,0.383561,2842793,136801,$10B-$50B,800526.0,126455.0,NaN,2042267.0,10346.0,0
4,Zions Bancorp,UT,4,0.117973,0.260577,6231770,52612,>$50B,526206.0,32973.0,NaN,5705564.0,19639.0,0
5,Synovus Financial Corp.,GA,5,0.162333,0.381387,4227168,22675,$10B-$50B,539666.0,9593.0,NaN,3687502.0,13082.0,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Charles Schwab Bk,NV,NR,-,-,-,-,>$10B,0.0,0.0,NaN,0.0,0.0,.
93,Third FS&LA,OH,NR,-,-,-,-,>$10B,0.0,0.0,NaN,0.0,0.0,.
94,"*The bank was formerly known as GE Money Bank,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,1 TA = total domestic assets held by the lende...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,"Source: U.S. Small Business Administration, Of...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
'''
1. Clean Rank with value  '0'. 

2. Clean '-' values with column mean

3. Clean '.' with column mean

4. Convert Lending Asset Size = Category like 0, 1, 2 etc based on levels available

5. Provide me final report before data cleaning and after data cleaning

6. Make sure every column in its respective data type. 
'''

"\n1. Clean Rank with value  '0'. \n\n2. Clean '-' values with column mean\n\n3. Clean '.' with column mean\n\n4. Convert Lending Asset Size = Category like 0, 1, 2 etc based on levels available\n\n5. Provide me final report before data cleaning and after data cleaning\n\n6. Make sure every column in its respective data type. \n"

In [30]:
df.dtypes

Name of Lending Institution     object
HQ State                        object
Rank                            object
TA Ratio1                       object
TBL Ratio1                      object
Amount ($1,000)                 object
Number                          object
Lender Asset Size               object
Amount ($1,000).1              float64
Number .1                      float64
Unnamed: 10                    float64
Amount ($1,000).2              float64
Number .2                      float64
CC Amount/TA1                   object
dtype: object

In [7]:
df.isnull().sum()
#gives null values

Name of Lending Institution     1
HQ State                        4
Rank                            3
TA Ratio1                       3
TBL Ratio1                      3
Amount ($1,000)                 3
Number                          3
Lender Asset Size               3
Amount ($1,000).1               3
Number .1                       3
Unnamed: 10                    97
Amount ($1,000).2               3
Number .2                       3
CC Amount/TA1                   3
dtype: int64

In [8]:
columns = df1.columns
for i in columns:
    if "-" in df1[i].values or '    .  ' in df1[i].values:
        df1[i].replace(to_replace=["-",'    .  '],value=np.nan,inplace=True)
        df1[i].fillna(value=df1[i].mean(),inplace=True)

In [9]:
df1

,Name of Lending Institution,HQ State,Rank,TA Ratio1,TBL Ratio1,"Amount ($1,000)",Number,Lender Asset Size,"Amount ($1,000).1",Number .1,Unnamed: 10,"Amount ($1,000).2",Number .2,CC Amount/TA1
1,American Express Co.,NY,1,0.238290,0.999544,1.635004e+07,3.603226e+06,>$50B,16318089.0,3603088.0,NaN,31949.0,138.0,0.28000
2,First Citizens Banchares,NC,2,0.187393,0.490830,3.914507e+06,1.177020e+05,$10B-$50B,378394.0,105081.0,NaN,3536113.0,12621.0,0.02087
3,Wintrust Financial Corp.,IL,3,0.168999,0.383561,2.842793e+06,1.368010e+05,$10B-$50B,800526.0,126455.0,NaN,2042267.0,10346.0,0.00000
4,Zions Bancorp,UT,4,0.117973,0.260577,6.231770e+06,5.261200e+04,>$50B,526206.0,32973.0,NaN,5705564.0,19639.0,0.00000
5,Synovus Financial Corp.,GA,5,0.162333,0.381387,4.227168e+06,2.267500e+04,$10B-$50B,539666.0,9593.0,NaN,3687502.0,13082.0,0.01000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Charles Schwab Bk,NV,NR,0.048668,0.251196,3.184791e+06,2.164190e+05,>$10B,0.0,0.0,NaN,0.0,0.0,0.02087
93,Third FS&LA,OH,NR,0.048668,0.251196,3.184791e+06,2.164190e+05,>$10B,0.0,0.0,NaN,0.0,0.0,0.02087
94,"*The bank was formerly known as GE Money Bank,...",NaN,NaN,0.048668,0.251196,3.184791e+06,2.164190e+05,NaN,NaN,NaN,NaN,NaN,NaN,0.02087
95,1 TA = total domestic assets held by the lende...,NaN,NaN,0.048668,0.251196,3.184791e+06,2.164190e+05,NaN,NaN,NaN,NaN,NaN,NaN,0.02087
96,"Source: U.S. Small Business Administration, Of...",NaN,NaN,0.048668,0.251196,3.184791e+06,2.164190e+05,NaN,NaN,NaN,NaN,NaN,NaN,0.02087

In [10]:
if 'Lender Asset Size' in df1.columns:
    df1['Lender Asset Size'].replace(to_replace=['>$10B               ','$10B-$50B           ', '>$50B               '],value=[0,1,2],inplace=True,limit=None,regex=False,method='pad')

In [45]:
df1

,Name of Lending Institution,HQ State,Rank,TA Ratio1,TBL Ratio1,"Amount ($1,000)",Number,Lender Asset Size,"Amount ($1,000).1",Number .1,Unnamed: 10,"Amount ($1,000).2",Number .2,CC Amount/TA1
1,American Express Co.,NY,1,0.238290,0.999544,1.635004e+07,3.603226e+06,2.0,16318089.0,3603088.0,NaN,31949.0,138.0,0.28000
2,First Citizens Banchares,NC,2,0.187393,0.490830,3.914507e+06,1.177020e+05,1.0,378394.0,105081.0,NaN,3536113.0,12621.0,0.02087
3,Wintrust Financial Corp.,IL,3,0.168999,0.383561,2.842793e+06,1.368010e+05,1.0,800526.0,126455.0,NaN,2042267.0,10346.0,0.00000
4,Zions Bancorp,UT,4,0.117973,0.260577,6.231770e+06,5.261200e+04,2.0,526206.0,32973.0,NaN,5705564.0,19639.0,0.00000
5,Synovus Financial Corp.,GA,5,0.162333,0.381387,4.227168e+06,2.267500e+04,1.0,539666.0,9593.0,NaN,3687502.0,13082.0,0.01000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Charles Schwab Bk,NV,NR,0.048668,0.251196,3.184791e+06,2.164190e+05,0.0,0.0,0.0,NaN,0.0,0.0,0.02087
93,Third FS&LA,OH,NR,0.048668,0.251196,3.184791e+06,2.164190e+05,0.0,0.0,0.0,NaN,0.0,0.0,0.02087
94,"*The bank was formerly known as GE Money Bank,...",NaN,NaN,0.048668,0.251196,3.184791e+06,2.164190e+05,NaN,NaN,NaN,NaN,NaN,NaN,0.02087
95,1 TA = total domestic assets held by the lende...,NaN,NaN,0.048668,0.251196,3.184791e+06,2.164190e+05,NaN,NaN,NaN,NaN,NaN,NaN,0.02087
96,"Source: U.S. Small Business Administration, Of...",NaN,NaN,0.048668,0.251196,3.184791e+06,2.164190e+05,NaN,NaN,NaN,NaN,NaN,NaN,0.02087

In [11]:
df1.dtypes

Name of Lending Institution     object
HQ State                        object
Rank                            object
TA Ratio1                      float64
TBL Ratio1                     float64
Amount ($1,000)                float64
Number                         float64
Lender Asset Size              float64
Amount ($1,000).1              float64
Number .1                      float64
Unnamed: 10                    float64
Amount ($1,000).2              float64
Number .2                      float64
CC Amount/TA1                  float64
dtype: object

In [12]:
df1.isnull().sum()

Name of Lending Institution     0
HQ State                        3
Rank                            3
TA Ratio1                       0
TBL Ratio1                      0
Amount ($1,000)                 0
Number                          0
Lender Asset Size               3
Amount ($1,000).1               3
Number .1                       3
Unnamed: 10                    96
Amount ($1,000).2               3
Number .2                       3
CC Amount/TA1                   0
dtype: int64

In [15]:
df1.to_csv('/Users/sameerkhan/Documents/DATA CLEANING/finaldata.csv')